#classbtn{
    color: white;
    font-weight: 100;
    font-size: medium;
    margin-left: 1125px;
    border: none;
}
#classbtndropdown{
    color: white;
    font-weight: 100;
    font-size: medium;
    border: none;
}